<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data"
          ngModelGroup="userdata"
          #userData="ngModelGroup"
          >
          <div class="form-group">
            <label for="username">Username</label>
            <input 
              type="text" 
              id="username" 
              class="form-control"
              name="username"
              ngModel
              required
              #username="ngModel"
              >
              <span *ngIf="!username.valid && username.touched" class="help-block">Please enter a username!</span>
          </div>
          <button 
            class="btn btn-default" 
            type="button" 
            (click)="suggestUserName()"
          >Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input 
              type="email" 
              id="email" 
              class="form-control"
              name="email"
              ngModel
              email
              required
              #email="ngModel"
              >
              <span *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid email!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select 
            id="secret" 
            class="form-control" 
            name="secret"
            [ngModel]="defaultOption"
            >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
          <textarea 
            class="form-control" 
            name="answer" 
            rows="3"
            [(ngModel)]="answer"
            ></textarea>
          <span class="help-block"> your reply - {{ answer }} </span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label for="gender">
            <input 
              type="radio" 
              name="gender" 
              [value]="gender"
              ngModel
              > {{ gender }}
          </label>
        </div>
        <button 
          class="btn btn-primary" 
          type="submit"
          [disabled]="!f.valid"
          >Submit</button>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <h3>Your Data</h3>
    <hr>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <p>Username - {{ user.userdata.username }} </p>
      <p>Email - {{ user.userdata.email }} </p>
      <p>Secret Question - {{ user.secret }} </p>
      <p>Answer - {{ user.answer }} </p>
      <p>Gender - {{ user.gender }} </p>
    </div>
  </div>

  <!-- Assignment work -->
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" name="email" type="email" email required ngModel #email="ngModel">
          <p *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid Email!</p>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" class="form-control" name="password" type="password" required ngModel #password="ngModel">
          <p *ngIf="!password.valid && password.touched" class="help-block">Please enter a valid Password!</p>
        </div>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select id="subscription" class="form-control" name ="subscription" [ngModel]="defaultSubscription">
            <option value="Basic">Basic</option>
            <option value="Pro">Pro</option>
            <option value="Advanced">Advanced</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div> -->
</div>
